.git
.env
.env.*
!.env.example
.qodo
vendor
node_modules
tests
database/*.sqlite*
storage/app/private/*
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
